:root {
    --main-background-color: #c3eccd;
    --main-text-color: #333333;
    --highlight-color: #45d311;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: comic sans ms, cursive, sans-serif;
    margin: 20px;
}

.en-construction {
    color: red;
    background-color: yellow;
    font-weight: bold;
}

#notre-copyright {
    color: grey;
    font-size: smaller;
    border-top: 1px solid grey;
}

nav {
    border-bottom:1px solid green;
}

.icon {
    width: 25px;
    height: auto;
    vertical-align: middle;
}

label, input[type="text"], input[type="email"], textarea {
    display:block;
}

button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #34a00a;
}