:root {
    --main-background-color: #c3eccd;
    --main-text-color: #333333;
    --highlight-color: #45d311;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: comic sans ms, cursive, sans-serif;
    margin: 20px;
}

.en-construction {
    color: red;
    background-color: yellow;
    font-weight: bold;
}

#notre-copyright {
    color: grey;
    font-size: smaller;
    border-top: 1px solid grey;
}

nav {
    border-bottom:1px solid green;
}

.icon {
    width: 25px;
    height: auto;
    vertical-align: middle;
}